{% load i18n %}
<table is="file-table" data-can-delete="{{ component.can_delete|yesno:"true,false" }}" {% if component.attrs %}{% include "attrs.html" with attrs=component.attrs %}{% endif %}>
    <thead>
        <tr>  
            <th scope="col" class="column-name">
                <div class="text">{% trans "File name" %}</div>
                <div class="clear"></div>
            </th>
            <th scope="col" class="column-name">
                    <div class="text">{% trans "Last modified" %}</div>
                    <div class="clear"></div>
            </th>
            <th scope="col" class="column-name">
                    <div class="text">{% trans "Size" %}</div>
                    <div class="clear"></div>
            </th>
            <th scope="col" class="column-name"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="loading">
            <td><div>&nbsp;</div></td>
            <td><div>&nbsp;</div></td>
            <td><div>&nbsp;</div></td>
            <td><div>&nbsp;</div></td>
        </tr>
    </tbody>
</table>