{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block coltype %}colM{% endblock %}

{% block content_subtitle %}{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "document.css" %}">
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='lab' %}">Lab</a>
&rsaquo; <a href="{% url 'admin:lab_project_changelist' %}">{% translate 'Projects' %}</a>
&rsaquo; <a href="{% url 'admin:lab_project_change' project.id %}">{{ project.name|truncatewords:"18" }}</a>
&rsaquo; {% translate 'Workplace' %}</a>
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <ul class="messagelist"></ul>

    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-6">
                {% include "components/file_upload_form.html" with attrs=raw_data_upload_form.attrs %}
                {% include "components/file_table.html" with attrs=raw_data_table.attrs %}
            </div>
            <div class="fr-col-12 fr-col-lg-6">
                {% include "components/file_upload_form.html" with attrs=processed_data_upload_form.attrs %}
                {% include "components/file_table.html" with attrs=processed_data_table.attrs %}                
            </div>
        </div>
    </div>
</div>
<script src="{% url 'javascript-catalog' %}"></script>
<script src="{% static 'pages/workplace.js' %}"></script>
{% endblock %}